.journalcontainer {
  border-radius: 8px;
  border: 1px solid #d6d8db;
  background: #fff;
  overflow: hidden;

  .headercontainer {
    flex-direction: row !important;
    justify-content: space-between;
    align-items: center;
    padding: 26px 40px 26px 20px;

    .headertitle {
      color: #283049;
      font-size: 20px;
      font-weight: 400;
      line-height: 16px;
    }

    .addpostbtn {
      border-radius: 4px;
      background: #f08b32;
      padding: 8px 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      color: #fff;
      font-family: 'Lexend', sans-serif !important;
      font-size: 14px !important;
      font-style: normal !important;
      font-weight: 400 !important;
      line-height: 20px !important;
      text-transform: capitalize !important;

      .btnicon {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
      }
    }
  }

  .tablecontainer {
    max-height: calc(100vh - 210px);
    .tableheadcell {
      background: #f7f7f7;
      color: #464646;
      font-family: 'Lexend', sans-serif !important;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
      border-bottom: 0;
    }

    .tablebodycell {
      color: #283049;
      font-family: 'Lexend', sans-serif !important;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 16px;
    }
  }
}

.addpostcontainer {
  .marginContainer {
    padding: 0 32px;

    .heaederwrp {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      .title {
        color: #283049;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: 'Lexend', sans-serif !important;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.374px;
        padding-bottom: 4px;
        position: relative;

        &::before {
          content: '';
          width: 17.317px;
          height: 2px;
          flex-shrink: 0;
          border-radius: 4px;
          background: #f08b32;
          position: absolute;
          bottom: 0;
        }
      }

      .viewattach {
        color: #f08b32;
        text-align: center;
        font-family: 'Lexend', sans-serif !important ;
        text-transform: capitalize;
        font-size: 16px;
        font-weight: 400;
        line-height: normal;
      }
    }

    .postform {
      gap: 20px;

      .monthselect {
        flex-direction: row !important;
        gap: 20px;

        .datecontainer {
          flex: 1;
          flex-direction: row;
          margin: 0;
          border-radius: 8px;
          border: 1.019px solid rgba(153, 158, 165, 0.39);
          background: transparent;
          align-items: center;

          &.disabled {
            pointer-events: none;
            background: rgba(0, 0, 0, 0.05);
          }

          .label {
            color: rgb(110, 110, 110);
            font-size: 10px;
            font-weight: 400;
            padding: 8px;
            line-height: normal;
            position: relative;
            &::after {
              content: '*';
              position: absolute;
              color: #f00;
              font-family: 'Lexend', sans-serif !important;
              font-size: 10px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              padding-left: 3px;
            }
          }

          .input {
            width: 100%;
            border: none;
            outline: none !important;
            background: none;
            margin-left: 8px;
            padding: 0 0 7px;
            pointer-events: none;
            color: #283049;
            font-family: 'Lexend', sans-serif !important;
            font-size: 14px;
            font-weight: 400;
            line-height: normal;

            &:focus {
              outline: none;
            }
          }
        }
      }

      .datecontainer {
        flex: 1;
        flex-direction: row;
        margin: 0;
        border-radius: 8px;
        border: 1.019px solid rgba(153, 158, 165, 0.39);
        background: rgba(237, 237, 237, 0.15);
        align-items: center;
        position: relative;

        &.disabled {
          pointer-events: none;
          background: rgba(0, 0, 0, 0.05);
        }

        .label {
          color: rgb(110, 110, 110);
          font-size: 10px;
          font-weight: 400;
          padding: 8px;
          line-height: normal;
          position: relative;

          &.error {
            color: #f00;
          }

          &::after {
            content: '*';
            position: absolute;
            color: #f00;
            font-family: 'Lexend', sans-serif !important;
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding-left: 3px;
          }
        }

        .input {
          width: 100%;
          border: none;
          outline: none !important;
          background: none;
          margin-left: 8px;
          padding: 0 0 7px;
          pointer-events: none;
          color: #283049;
          font-family: 'Lexend', sans-serif !important;
          font-size: 14px;
          font-weight: 400;
          line-height: normal;

          &:focus {
            outline: none;
          }
        }

        .validateError {
          position: absolute;
          color: rgb(216, 0, 12);
          font-size: 0.6rem;
          margin-top: 4px;
          bottom: -14px;
        }
      }

      .inputFileWrap {
        margin-bottom: 16px;
        position: relative;

        &input[type='file'][value=''] {
          & .fileName {
            background-color: red;
            color: #00a5ff;
          }
        }
        .fileLabel {
          color: #283049;
          font-family: 'Lexend', sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin-bottom: 12px;
          // opacity: 0.6;

          // &::after {
          //   content: '*';
          //   color: red;
          //   margin-left: 2px;
          //   position: relative;
          //   top: 2px;
          // }
          &.error {
            color: rgb(216, 0, 12);
          }
          &.notrequired {
            &::after {
              display: none;
            }
          }
        }

        .fileInputWrap {
          position: relative;

          &.disabled {
            pointer-events: none;
            // background: rgba(0, 0, 0, 0.05);
          }
          .fileInput {
            color: rgba(0, 0, 0, 0);
            display: none;

            &::selection {
              color: #00a5ff;
              background: #00a5ff;
            }

            &::file-selector-button {
              cursor: pointer;
              color: #000;
              font-family: 'Lexend', sans-serif;
              font-size: 14px;
              font-style: normal;
              font-weight: 500;
              line-height: 17px;
              border-radius: 4px;
              border: 0.5px solid rgba(0, 0, 0, 0.5);
              background: rgba(0, 0, 0, 0.05);
              padding: 4px 12px;
            }
          }

          .choosefile {
            cursor: pointer;
            color: #000;
            font-family: 'Lexend', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 17px;
            border-radius: 4px;
            border: 0.5px solid rgba(0, 0, 0, 0.5);
            background: rgba(0, 0, 0, 0.05);
            padding: 4px 12px;
          }
          .fileName {
            color: #000;
            font-family: 'Lexend', sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            opacity: 0.6;
            position: absolute;
            top: 2px;
            left: 125px;
            z-index: -100;
            display: flex;
            align-items: center;

            .closeIcon {
              width: 16px;
              height: 16px;
              color: #ff0000;
              margin-left: 8px;
              cursor: pointer;
              display: none;
            }

            &.fileSelected {
              color: #3049bf;
              z-index: 1001;
              opacity: 1;

              & .closeIcon {
                display: block;
              }
            }
          }
        }

        .validateError {
          color: rgb(216, 0, 12);
          font-size: 0.6rem;
          margin-top: 4px;
        }
      }
    }

    .submitbtnwrapper {
      flex-direction: row !important;
      justify-content: space-between;
      margin-top: 28px;
      margin-bottom: 32px;

      &.reject {
        justify-content: center;
      }

      .superpostbtn {
        border-radius: 28px;
        border: 1.5px solid #f08b32;
        padding: 10px 30px;
        color: #f08b32;
        text-align: center;
        font-family: 'Lexend', sans-serif !important;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        text-transform: capitalize;
      }

      .postbtn {
        border-radius: 28px;
        background: #f08b32;
        padding: 10px 24px;
        color: #fff;
        text-align: center;
        font-family: 'Lexend', sans-serif !important;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        text-transform: capitalize;
      }
    }

    .editbtnwrapper {
      margin: 28px 0;
      flex-direction: row !important;
      justify-content: flex-end;

      &.inreview {
        & .deletebtn {
          margin-right: 0;
        }
      }

      .editbtn,
      .deletebtn {
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Lexend', sans-serif !important;
        text-transform: capitalize;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        border-radius: 28px;
        padding: 12px 32px;
        img {
          margin-right: 4px;
        }
      }

      .editbtn {
        background: #f08b32;
      }

      .deletebtn {
        background: #f00;
        margin-right: 32px;
      }
    }

    .subotherbtnwrapper {
      flex-direction: row !important;
      justify-content: flex-end;
      margin-top: 28px;
      margin-bottom: 32px;

      .cancelbtn {
        border-radius: 28px;
        border: 1px solid #f08b32;
        background: #fff;
        padding: 10px 30px;
        color: #f08b32;
        text-transform: capitalize;
        font-family: 'Lexend', sans-serif !important;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;
        margin-right: 40px;
      }

      .otherpostbtn {
        border-radius: 28px;
        background: #f08b32;
        padding: 10px 30px;
        color: #fff;
        text-transform: capitalize;
        font-family: 'Lexend', sans-serif !important;
        font-size: 16px;
        font-weight: 500;
        line-height: 18px;

        &:disabled {
          opacity: 0.5;
        }
      }
    }
  }
}

.deleteContainer {
  padding: 20px;

  .title {
    color: #f00;
    font-family: 'Lexend', sans-serif !important;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 4px;
    position: relative;
    margin-bottom: 12px;

    &::before {
      content: '';
      position: absolute;
      width: 18px;
      height: 2px;
      background: #f00;
      border-radius: 4px;
      bottom: 0;
    }
  }

  .subtitle {
    color: #283049;
    font-family: 'Lexend', sans-serif !important;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
  }

  .btnwrapper {
    flex-direction: row !important;
    justify-content: space-between;

    .nobtn,
    .yesbtn {
      font-family: 'Lexend', sans-serif !important;
      text-transform: capitalize;
      font-size: 16px;
      font-weight: 500;
      line-height: normal;
      border-radius: 20px;
    }

    .nobtn {
      border: 1px solid #f08b32;
      padding: 10px 56px;
      color: #f08b32;
    }

    .yesbtn {
      color: #fff !important;
      padding: 10px 62px;
      background: #f08b32;
    }
  }
}

.textfieldStyle {
  &.mt_11 {
    label {
      margin-top: -11px !important;
    }
  }

  input,
  textarea {
    &:disabled {
      color: initial !important;
    }
  }
  &.disabled {
    color: initial !important;
    background: rgba(0, 0, 0, 0.05);

    div {
      -webkit-text-fill-color: initial !important;
    }
  }

  &.mt20 {
    margin-top: 20px;
  }
}

.maxWidth {
  max-width: 494px;
}

.tablecontainer {
  // margin: 0 -32px;
  .tablehead {
    .tablerow {
      background: #f1f1f1;
      th {
        color: #283049;
        font-family: 'Lexend', sans-serif !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        border-bottom: none;
      }
    }
  }

  .tablebody {
    .tablerow {
      td {
        .select {
          border-radius: 4px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          background: #fff;
          padding: 10px 4px 10px 8px;
          flex-direction: row;

          &.disabled {
            background: rgba(0, 0, 0, 0.05);
            pointer-events: none;
          }

          &.error {
            border-color: #f00;
          }

          .input {
            border: none;
            outline: none;
            background: transparent;
            color: #283049;
            font-family: 'Lexend', sans-serif !important;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            pointer-events: none;
            flex: 1;
          }

          .icon {
            width: 16px;
            height: 16px;
            color: #6e6e6e;
          }
        }

        .debitcredit {
          border-radius: 4px;
          border: 1px solid rgba(0, 0, 0, 0.1);
          background: #fff;
          padding: 10px 8px;
          flex-direction: row !important;
          align-items: center;

          &.disabled {
            background: rgba(0, 0, 0, 0.05);
            pointer-events: none;
          }

          &.error {
            border-color: #f00;
          }

          .curricon {
            width: 16px;
            height: 16px;
          }

          .input {
            border: none;
            outline: none;
            background: transparent;
            color: #283049;
            font-family: 'Lexend', sans-serif !important;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
          }
        }

        .closebtn {
          border-radius: 2px;
          background: #ffacac;
          padding: 4px;

          &.disabled {
            pointer-events: none;
          }

          .closeicon {
            width: 8px;
            height: 8px;
            flex-shrink: 0;
            color: #ff0000;
          }
        }

        .reorder {
          width: 16px;
          height: 16px;
          flex-shrink: 0;
          color: #d9d9d9;
          transform: rotate(90deg);
        }

        .errlabel {
          color: #f00;
          font-family: 'Lexend', sans-serif !important;
          font-size: 10px;
          margin-top: 2px;
        }
      }
    }
  }
}

.totalcontaner {
  flex-direction: row !important;
  justify-content: space-between;
  margin-top: 20px;
  padding-left: 24px;
  margin-bottom: 50px;

  .addnewRow {
    .addrowbtn {
      border-radius: 56px;
      border: 1px solid #f08b32;
      background: #fef8ee;
      padding: 8px 24px;
      color: #f08b32;
      font-family: 'Lexend', sans-serif !important;
      font-size: 14px;
      font-weight: 400;
      text-transform: capitalize;
      line-height: 16px;

      &:disabled {
        opacity: 0.5;
      }

      .plusicon {
        width: 16px;
        height: 16px;
        margin-right: 8px;
      }
    }
  }

  .credittotal {
    background: #f4f4f4;
    padding: 16px 0;
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    margin-right: 98px;
    .totalamountwrp {
      flex-direction: row !important;
      gap: 62px;
      padding: 0 20px;
      margin-bottom: 20px;

      .totallabel {
        color: #000;
        font-family: 'Lexend', sans-serif !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.28px;
      }

      .totalamt {
        color: #f08b32;
        font-family: 'Lexend', sans-serif !important;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 16px;
      }
    }

    .diffwrp {
      flex-direction: row !important;
      justify-content: space-between;
      padding: 6px 20px 0 20px;

      .difflabel {
        color: #f00;
        font-family: 'Lexend', sans-serif !important;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: -0.24px;
      }

      .diffamt {
        color: #f00;
        font-family: 'Lexend', sans-serif !important;
        font-size: 12px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: -0.24px;
      }
    }

    .borderdashed {
      border-top: 1.5px dashed rgba(40, 48, 73, 0.3);
      width: 100%;
      height: 1px;
      position: relative;
      top: -6px;
      border-spacing: 4px;

      &::before,
      &::after {
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: absolute;
        background: #fff;
      }

      &::before {
        left: -9px;
        top: -10px;
      }

      &::after {
        right: -9px;
        top: -10px;
      }
    }
  }
}

.memuPopover {
  .tabBox {
    padding: 0 24px 0 24px;
    margin: 0;
    border-bottom: 1px solid #dbdbdb;
    .tablistwrp {
      min-height: unset !important;
      margin: 0;
      .tab {
        color: #000;
        font-family: 'Lexend', sans-serif !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        text-transform: capitalize;
        min-height: unset !important;
        padding: 16px 0 16px 0;
      }
    }
  }

  .tabcontent {
    padding: 16px 0 0 0;

    .searchwrp {
      flex-direction: row !important;
      border-radius: 4px;
      border: 1px solid #dbdbdb;
      padding: 10px 12px;
      gap: 12px;
      margin: 0 24px 16px 24px;
      .searchicon {
        width: 20px;
        height: 20px;
        flex-shrink: 0;
      }

      .searchinput {
        flex: 1;
        border: none;
        outline: none;
        background: transparent;
        color: #414141;
        font-family: 'Lexend', sans-serif !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &::placeholder {
          color: #a0a4af;
        }
      }
    }

    .tablist {
      padding: 0;
      margin: 0;
      min-height: 300px;
      max-height: 300px;
      overflow: auto;

      .listitem {
        padding: 0;
        margin: 0;
        border-bottom: 0.5px solid #c7c7c7;

        .listbtn {
          padding: 24px 24px 8px 24px;
          margin: 0;

          .listtext {
            padding: 0;
            margin: 0;
            span {
              color: #414141;
              font-family: 'Lexend', sans-serif !important;
              font-size: 14px;
              font-style: normal;
              font-weight: 300;
              line-height: 16px;
            }
          }
        }
      }

      .listitemnodata {
        border-bottom: none;
        justify-content: center;
        margin-top: 12px;

        .listavatar {
          min-width: unset !important;

          .nodataavatar {
            width: auto !important;
            height: auto !important;
            border-radius: unset !important;
          }
        }
      }
    }
  }
}

.contactPopover {
  .contactselect {
    min-width: 425px;

    .searchwrp {
      flex-direction: row !important;
      gap: 8px;
      padding: 10px 16px;
      border-radius: 4px 4px 0px 0px;
      border: 1px solid #f08b32;
      background: #fff;
      box-shadow: 0px 2px 4px 0px rgba(240, 139, 50, 0.15),
        0px 2px 0px 0px rgba(240, 139, 50, 0.08);
      margin-bottom: 8px;

      .searchicon {
        width: 16px;
        height: 16px;
      }

      .searchinput {
        flex: 1;
        border: none;
        outline: none;
        color: #414141;
        font-family: 'Lexend', sans-serif !important;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &::placeholder {
          color: #7e7c7c;
        }
      }
    }

    .contactlist {
      margin: 0;
      max-height: 280px;
      overflow: auto;

      .listitem {
        padding: 0;
        margin: 0;
        margin-bottom: 4px;

        .relationship {
          padding: 4px 8px;
          border-radius: 4px;

          span {
            font-feature-settings: 'clig' off, 'liga' off;
            font-family: 'Lexend', sans-serif !important;
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            text-transform: capitalize;
          }

          &.customer {
            background: rgba(32, 201, 172, 0.1);

            span {
              color: #20c9ac;
            }
          }

          &.vendor {
            background: rgba(0, 165, 255, 0.1);

            span {
              color: #00a5ff;
            }
          }

          &.lender {
            background: rgba(255, 160, 67, 0.1);
            span {
              color: #ffa043;
            }
          }

          &.promoter {
            background: rgba(232, 23, 138, 0.1);

            span {
              color: #e8178a;
            }
          }

          &.employee {
            background: rgba(132, 129, 138, 0.1);
            span {
              color: #2e2c34;
            }
          }

          &.bank {
            background: rgba(85, 66, 246, 0.1);
            span {
              color: #5542f6;
            }
          }

          &.government {
            background: rgba(182, 180, 186, 0.1);
            span {
              color: #84818a;
            }
          }
        }

        .listbtn {
          padding: 0;
          margin: 0;
          gap: 10px;
          padding: 6px 8px;

          .listitemavatar {
            padding: 0;
            margin: 0;
            min-width: unset !important;
            .listavatar {
              width: 20px;
              height: 20px;
              flex-shrink: 0;
              background: #a8aebe;
              color: #ffffff;
              font-family: 'Lexend', sans-serif !important;
              font-size: 14px;
            }

            .listtext {
              padding: 0;
              margin: 0;
              span {
                color: #414141;
                font-family: 'Lexend', sans-serif !important;
                font-size: 13px;
                font-style: normal;
                font-weight: 300;
                line-height: 16px;
              }
            }
          }
        }
      }
    }
  }
}

.status {
  padding: 4px 8px;
  border-radius: 4px;

  &.inreview {
    border-radius: 4px;
    background: rgba(255, 160, 67, 0.1);
  }

  &.completed {
    background: rgba(32, 201, 172, 0.1);
  }

  &.reject {
    background: rgba(252, 52, 0, 0.1);
  }

  .label {
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: 'Lexend', sans-serif !important;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

    &.reviewlabel {
      color: #ffa043;
    }

    &.completedlabel {
      color: #20c9ac;
    }

    &.rejectlabel {
      color: #fc3400;
    }
  }
}

.toolbarcontainer {
  // border: 1px solid #d6d8db;
  margin-bottom: 12px;

  .columnfilter {
    padding: 4px 12px !important;
  }

  .toolbarfilter {
    padding: 4px 12px !important;
  }

  .dataexprt {
  }

  .globalsearch {
    margin-left: auto;
    div {
      padding-bottom: 2px;
    }
  }
}
